body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #169;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.course-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.course {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
}

.course img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.course h2 {
    color: #333;
}

.course p {
    color: #666;
}

.course a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.course a:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
