body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

.header-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.professor-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.professor {
    background-color: #fff;
    border: 2px solid #e1e4e8;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.professor:hover {
    transform: scale(1.05);
}

.professor img {
    width: 80%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.professor h2 {
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
}

.professor p {
    font-size: 14px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
